.about {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  &_image {
    // border: $border;
    width: 100%;
    height: 30vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 10%;
    }
  }

  &_container {
    margin: auto;
    width: 90%;
    margin-top: 20px;
  }

  &_info {
    display: flex;
    font-variant: small-caps;
    font-size: 22px;

    &_at {
      font-size: 18px;
    }

    &_email {
      margin-right: 50px;
      width: 240px;
    }

    &_facebook {
      display: flex;

      p {
        margin-right: 12px;
      }

      &_arrow {
        margin-right: 12px;
        transform: translateY(9px);
      }
    }
  }

  &_personal {
    margin-top: 80px;
    margin-left: 290px;

    &_description {
      width: 600px;
      font-variant: small-caps;
      text-transform: lowercase;
      font-size: 36px;
      line-height: 35px;
      transform: translateY(-14px);
    }
  }
}