.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;

  &_main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: flex-start;
    background-color: white;

    @media (max-width: 500px) {
      align-items: flex-start;
      // margin-top: 80px;
    }
  }

  &_image {
    position: relative;
    width: 80%;
    height: 90vh;
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;

    // border: $border;
    // transform: translateY(3vh);
    // transform: translateX(20%);

    // @media (max-width: 1920px) {
    //   transform: translateX(12%);
    // }
    // @media ( max-width:  1024px ) {
    //   transform: translateX(5%);
    //   width: 57%;
    //   height: 57%;
    // }
    @media (max-width: 500px) {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      // min-width: 80%;
      // max-width: 80%;
      // max-height: 90%;
      object-fit: cover;
      object-position: center top;
      // border: 3px solid red;

      @media (max-width: 500px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_title {
    position: absolute;
    font-variant: small-caps;
    color: $main-color;
    // border: $border;

    &--main {
      top: 400px;
      left: -6vw;
      font-size: 140px;

      @media (max-width: 1680px) {
        font-size: 100px;
      }
    }

    &--catalogue {
      top: 50px;
      left: -6vw;
      font-size: 30px;
      font-variant: none;
    }

    &--locations {
      right: 0;
    }

    // @media (max-width: 1680px) {
    //   font-size: 80px;
    //   top: -58px;
    // }

    // @media (max-width: 1366px) {
    //   font-size: 60px;
    //   top: -42px;
    // }

    // @media (max-width: 1024px) {
    //   top: -33px;
    //   left: -113px;
    //   font-size: 50px;
    // }

    // @media (max-width: 800px) {
    //   top: -33px;
    //   font-size: 43px;
    // }

    // @media (max-width: 500px) {
    //   top: 450px;
    //   left: 20px;
    //   font-size: 40px;
    //   color: white;
    // }

    // @media (max-width: 359px) {
    //   top: 340px;
    // }
  }
}

.leave-page--home {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999999999;
  width: 100%;
  height: 100vh;
  background-color: $main-color;
  // border: 3px solid red;

  &--2 {
    z-index: 999999999999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}