.story-page {
  background-color: #FAF9F8;

  &_main-container {
    position: relative;
    // border: 1px solid black;
    max-width: 1600px;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 300px;
    overflow: auto;
  
    @media (max-width: 1600px) {
      max-width: 90%;
    }
    @media (max-width: 600px) {
      margin-bottom: 130px;
    }
  }
  

  h1 {
    // border: 1px solid black;
    font-size: 60px;
    font-weight: bold;
    margin-left: 22%;
    padding-top: 100px;

    @media (max-width: 1440px) {
      margin-top: -50px; //a bug?
    }
    @media (max-width: 1279px) {
      margin-top: -85px;
    }
    @media (max-width: 1023px) {
      font-size: 40px;
      margin-top: -100px;
    }
    @media (max-width: 800px) {
      padding-top: 80px;
    }
    @media (max-width: 600px) {
      font-size: 35px;
      margin-left: 13%;
    }
  }

  /* IMAGE LIST */

  &_images {
    overflow: auto;

    &_image {
      margin-top: 200px;

      @media (max-width: 800px) {
        margin-top: 80px;
        display: flex;
        justify-content: center;
      }

      img {
        width: 75%;
        cursor: zoom-in;

        @media (max-width: 800px) {
          width: 85%;
        }
      }

      &--0 {
        img {
          width: 60%;
          margin-left: 15%;

          @media (max-width: 800px) {
            width: 85%;
            margin-left: 0;
          }
        }
      }
    }
  }

  /* NEXT STORY */

  &_next-story {
    margin-top: 300px;
    display: flex;
    justify-content: center;

    @media (max-width: 1025px) {
      margin-top: 260px;
    }
    @media (max-width: 800px) {
      margin-top: 200px;
    }
    @media (max-width: 600px) {
      margin-top: 170px;
    }
    @media (max-width: 321px) {
      margin-top: 130px;
    }

    &_container {
      display: flex;
    }

    &_info {
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;

      @media (max-width: 800px) {
        width: 300px;
        padding-left: 60px;
      }
      @media (max-width: 600px) {
        width: 200px;
        padding-left: 30px;
      }
      @media (max-width: 376px) {
        width: 170px;
        padding-left: 20px;
      }
      @media (max-width: 321px) {
        width: 150px;
        padding-left: 20px;
      }

      &_next {
        font-family: $secondary-font;
        font-weight: 600;
        letter-spacing: 1.2px;
        font-size: 14px;
        margin-bottom: 0;

        @media (max-width: 800px) {
          font-size: 12px;
        }
        @media (max-width: 376px) {
          font-size: 11px;
        }
      }

      &_name {
        font-size: 42px;
        font-weight: 600;
        padding-left: 3px;
        margin-bottom: 0;

        @media (max-width: 800px) {
          font-size: 34px;
        }
        @media (max-width: 600px) {
          font-size: 28px;
        }
        @media (max-width: 376px) {
          font-size: 20px;
        }
      }

      &_view {
        font-family: $secondary-font;
        margin-top: 10px;
        font-size: 16px;
        cursor: pointer;

        @media (max-width: 600px) {
          margin-top: 8px;
          font-size: 14px;
        }
        @media (max-width: 376px) {
          margin-top: 7px;
          font-size: 13px;
        }

        &_icon {
          font-size: 14px;
          margin-left: 10px;

          @media (max-width: 376px) {
            font-size: 12px;
          }
        }
      }
    }

    &_image {
      width: 400px;
      height: 300px;
      padding-left: 130px;
      overflow: hidden;
      display: flex;
      align-items: center;

      @media (max-width: 800px) {
        width: 260px;
        height: 200px;
        padding-left: 70px;
      }
      @media (max-width: 600px) {
        width: 150px;
        height: 180px;
        padding-left: 30px;
      }
      @media (max-width: 376px) {
        width: 130px;
        height: 160px;
        padding-left: 30px;
      }
      @media (max-width: 321px) {
        width: 110px;
        padding-left: 18px;
      }

      img {
        width: 100%;
        object-fit: contain;
        cursor: pointer;
        transition: opacity 1s;
      }

      img:hover {
        opacity: 1;
      }
    }
  }
}