.stories-page {
  margin: auto;
  // max-width: 1800px;
  // border: 1px solid black;

  @media ( max-width: 500px ) {
    margin-top: 90px;
  }

  /* STORIES */

  &_title {
    margin: auto;
    margin-top: 150px;
    padding-left: 16vw;
    max-width: 1800px;

    @media ( max-width: 500px ) {
      padding-left: 7vw;
    }
    
    h1 {
      font-size: 60px;
      font-weight: 600;
    }

    p {
      font-family: $secondary-font;
      font-weight: 600;
      margin-top: 30px;

      @media ( max-width: 960px ) {
        margin-bottom: 100px;
      }

      @media ( max-width: 500px ) {
        margin-top: 60px;
        padding-right: 7vw;
      }

      @media ( max-width: 360px ) {
        margin-bottom: 50px;
      }
    }

    &--2 {
      margin-top: 200px;

      @media ( max-width: 500px ) {
        margin-top: 140px;
      }

      p {
        margin-bottom: 150px;

        @media ( max-width: 500px ) {
          margin-bottom: 80px;
        }
      }
    }
  }

  &_story {

    &_container {
      margin: auto;
      margin-top: 150px;
      max-width: 1800px;
    }

    // border: 1px solid black;
    overflow: auto;

    &--0 {
      float: left;
      width: 50%;
    }

    &--1 {
      float: right;
      width: 50%;
    }

    &--2 {
      width: 100%; //needs to be declared after a floated element
    }

    &--3 {

    }

    &_img-container {
      display: inline-block;

      &--0 {
        width: 40%;
        margin-left: 20%;
        margin-top: 24vh;
      }
  
      &--1 {
        margin-left: 30%;
        width: 70%;
      }
  
      &--2 {
        margin-top: 200px;
        margin-left: 30%;
        width: 33%;
      }

      &--3 {
        margin-top: 150px;
        margin-left: 46%;
        min-width: 33%;
        max-width: 33%;
      }
    }

    &_image {
      width: 100%;
    }

    &_title {
      display: flex;
      height: 40px;
      align-items: center;
      padding-left: 4px;
      margin-top: 8px;
      // border: 1px solid black;
      font-family: 'raleway';

      img {
        width: 20px;
      }

      div {
        width: 70px;
        margin-left: 10px;
        margin-right: 10px;
        border-top: .6px solid $main-color;
        border-bottom: .6px solid $main-color;
      }

      h3 {
        font-size: 16px;
        font-weight: 600;
        // border: 1px solid black;
        margin-bottom: 0;
      }
    }
  }  
}
