.stories-page {
  margin: auto;
  // max-width: 1800px;
  // border: 1px solid black;

  @media ( max-width: 500px ) {
    margin-top: 90px;
  }

  /* STORIES */

  &_title {
    margin: auto;
    margin-top: 150px;
    padding-left: 16vw;
    max-width: 1800px;

    @media ( max-width: 500px ) {
      padding-left: 7vw;
    }
    
    h1 {
      font-size: 46px;
      font-weight: 600;
    }

    p {
      font-family: 'Raleway';
      margin-top: 30px;

      @media ( max-width: 960px ) {
        margin-bottom: 100px;
      }

      @media ( max-width: 500px ) {
        margin-top: 60px;
        padding-right: 7vw;
      }

      @media ( max-width: 360px ) {
        margin-bottom: 50px;
      }
    }

    &--2 {
      margin-top: 200px;

      @media ( max-width: 500px ) {
        margin-top: 140px;
      }

      p {
        margin-bottom: 150px;

        @media ( max-width: 500px ) {
          margin-bottom: 80px;
        }
      }
    }
  }

  &_story {

    &_container {
      margin: auto;
      margin-top: 150px;
      max-width: 1800px;
    }

    // border: 1px solid black;
    overflow: auto;

    &--0 {
      float: left;
      width: 50%;
    }

    &--1 {
      float: right;
      width: 46%;
    }

    &--2 {
      width: 100%;
    }

    &_img-container {
      display: inline-block;

      &--0 {
        width: 40%;
        margin-left: 20%;
        margin-top: 24vh;
      }
  
      &--1 {
        margin-left: 30%;
        display: inline-block;
        max-width: 80%;
      }
  
      &--2 {
        margin-top: 200px;
        margin-left: 30%;
        min-width: 40%;
        max-width: 50%;
      }
    }

    &_image {
      // object-fit: contain;
      width: 100%;

      &--0 {
        // max-width: 100%;
      }
  
      &--1 {
        // max-width: 80%;
      }
  
      &--2 {
        // min-width: 40%;
        // max-width: 50%;
      }
    }

    &_title {
      display: flex;
      border: 1px solid black;
      font-family: 'raleway';
      font-size: 16px;

      div {

      }

      &--0 {
        
      }
  
      &--1 {
        // max-width: 80%;
      }
  
      &--2 {
        // min-width: 40%;
        // max-width: 50%;
      }
    }
  }  


  // &_story {
  //   // border: 1px solid black;
  //   position: relative;
  //   width: 600px;
  //   height: 600px;
  //   display: inline-block;
  //   margin-top: 200px;

  //   @media ( max-width: 1280px ) {
  //     width: 500px;
  //     height: 500px;
  //   }

  //   @media ( max-width: 960px ) {
  //     margin-top: 40px;
  //   }

  //   @media ( max-width: 500px ) {
  //     margin-top: 50px;
  //     height: auto;
  //   }

  //   // @media ( max-width: 500px ) {
  //   //   width: 
  //   // }
  //   &_container {
  //     display: flex;
  //     flex-wrap: wrap;

  //     @media ( max-width: 960px ) {
  //       justify-content: center;
  //     }
  //   }

  //   img {
  //     max-width: 80%;
  //     max-height: 80%;
  //     padding-right: 12px;
  //     padding-left: 12px;

  //     @media ( max-width: 500px ) {
  //       max-width: 100%;
  //       max-height: 100%;
  //       padding-right: 20px;
  //       padding-left: 20px;
  //     }
  //   }

  //   h3 {
  //     font-family: 'Raleway';
  //     position: absolute;
  //   }
  // }

  // &_story:nth-child(even) {
  //   text-align: left;

  //   h3 {
  //     left: 100px;
      
  //     @media ( max-width: 960px ) {
  //       left: 30px;
  //     }
  //   }
  // }

  // &_story:nth-child(odd) {
  //   text-align: right;

  //   h3 {
  //     right: 100px;

  //     @media ( max-width: 960px ) {
  //       right: 30px;
  //     }
  //   }
  // }

  /* SHORT STORIES */

  // &_short {
  //   margin: auto;
  //   margin-top: 100px;
  //   padding-bottom: 100px;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-around;
  //   max-width: 90%;

  //   &_story {
  //     width: 21%;
  //     // border: 1px solid black;
  //     display: flex;
  //     flex-direction: column;
  //     margin-bottom: 50px;

  //     @media ( max-width: 1279px ) {
  //       width: 30%;
  //     }

  //     @media ( max-width: 500px ) {
  //       width: 45%;
  //     }

  //     img {
  //       object-fit: cover;
  //       width: 100%;
  //       height: 250px;
        
  //       @media ( max-width: 1280px ) {
  //         height: 200px;
  //       }

  //       @media ( max-width: 500px ) {
  //         height: 150px;
  //       }
  //     }

  //     h3 {
  //       font-family: 'Raleway';
  //       font-size: 16px;
  //     }

  //   }
  // }
}


