.story-page {
  position: relative;
  // border: 1px solid black;
  max-width: 1600px;
  margin: auto;
  padding-top: 150px;
  margin-bottom: 300px;
  overflow: auto;

  @media (max-width: 1600px) {
    max-width: 90%;
  }

  h1 {
    // border: 1px solid black;
    font-size: 60px;
    margin-left: 22%;
    padding-top: 100px;

    @media (max-width: 1440px) {
      margin-top: -50px;
    }

    @media (max-width: 1279px) {
      margin-top: -85px;
    }

    @media (max-width: 1023px) {
      font-size: 40px;
      margin-top: -100px;
    }
  }

  /* IMAGE LIST */

  &_images {
    margin-top: 50px;
    overflow: auto;

    &_image {
      margin-top: 200px;

      img {
        align-self: center;
        width: 75%;

        cursor: zoom-in;
      }

      &--0 {
        img {
          width: 60%;
          margin-left: 15%;
        }
      }
    }
  }

  /* NEXT STORY */

  &_next-story {
    margin-top: 300px;
    display: flex;
    justify-content: center;

    &_container {
      display: flex;
      // height: 300px;
      // border: $border;
    }

    &_info {
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;

      &_next {
        font-family: $secondary-font;
        font-weight: 600;
        letter-spacing: 1.2px;
        font-size: 14px;
        margin-bottom: 0;
      }

      &_name {
        font-size: 42px;
        font-weight: 600;
        padding-left: 3px;
        margin-bottom: 0;
      }

      &_view {
        font-family: $secondary-font;
        margin-top: 10px;
        font-size: 16px;
        cursor: pointer;

        &_icon {
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }

    &_image {
      width: 400px;
      height: 300px;
      padding-left: 130px;
      overflow: hidden;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        object-fit: contain;
        // opacity: .5;
        cursor: pointer;
        transition: opacity 1s;
      }

      img:hover {
        opacity: 1;
      }
    }
  }
}