.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: $border;
}

.x {
  // border: $border;
  overflow: hidden;
  width: 400px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-content: center;
}