.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: $border;
}

.counter {
  font-family: $main-font;
  font-size: 50px;

  &--home {
    color: white;
  }

  &--stories {
    color: $main-color;
  }
}

.counter-container {
  // display: flex;
  // justify-content: center;
  // border: 1px solid white;
  text-align: center;

  p {
    margin-top: 10px;
    color: white;
  }
}