.loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 400px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-content: center;

  &_loading {
    position: absolute;
    top: calc(50% + 90px);
    left: 50%;
    transform: translateX(-50%);
    font-variant: small-caps;
  }
}
