.navbar {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &_toggler {
    z-index: 2;
    cursor: pointer;

    &_line {
      width: 26px;
      height: 2.5px;
      background-color: $main-color;

      &--2 {
        margin-top: 5px
      }
    }
  }

  &_open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
  }

  &_logo {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 25px;
    font-variant: small-caps;
  }

  &_links-container {
    margin-left: 30vw;
    margin-top: 50%;
    transform: translateY(-50%);
  }

  &_link {
    color: white;
    cursor: pointer;
    font-size: 80px;
  }
}


.page-transition {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999;
  width: 100%;
  height: 100vh;
  background-color: white;
}






